{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">
        Members List</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>氏名</th>
            <th>住所</th>
            <th>性別</th>
            <th>業種</th>
            <th>部署</th>
            <th>役職</th>
        </tr>    
    {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.prefecture}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.company}}</td>
            <td>{{item.jyob}}</td>
            <td>{{item.employmentstatus}}</td>
            <td><a href="/board/detail/{{item.id}}">detail</a></td>
        <tr>
    {% endfor %}
    </table>
</body>

</html>